<hr>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="col-sm-6 col-md-6">
      <center>
        <h4 class="text-center">
          Check out our music!
        </h4>
        <ul style="list-style-type:none;margin:0;padding:0;">
          <a href="https://play.spotify.com/artist/5Q6bZAB4lnENIQK22rGJu1" style="margin:0;">
            <img src="/img/icons/spotify.png">
          </a>
          <a href="http://soundcloud.com/raagapella">
            <img src="/img/icons/soundcloud.png">
          </a>
          <a href="http://youtube.com/user/stanfordraagapella/">
            <img src="/img/icons/youtube.png">
          </a>
        </ul>
      </center>
    </div>
    <div class="col-sm-6 col-md-6">
      <center>
        <h4 class="text-center">
          Get in touch with us!
        </h4>
        <ul style="list-style-type: none;margin:0;padding:0;">
          <a href="mailto:business@raagapella.com" style="margin:0;">
            <img src="/img/icons/gmail.png">
          </a>
          <a href="http://twitter.com/raagapella">
            <img src="/img/icons/twitter.png">
          </a>
          <a href="http://facebook.com/stanfordraagapella">
            <img src="/img/icons/facebook.png">
          </a>
        </ul>
      </center>
    </div>
  </div>
</div>
<hr>
