<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Stanford Raagapella - API</title>
</head>
<body style="padding:5%;">
    Welcome to the API for this application!
    This is a JSON API with the following routes.
    <ul>
        <% routes.forEach(function(route) { %>
        <% var link = "/api" + route.routename %>
        <li>
        	<a href="<%= link %>"><strong><%= route.routename %></strong></a><br />
        	Methods Defined: <%= route.methods.join(", ") %><br />
        	<%= route.description %>
        </li>
        <% }) %>
    </ul>
</body>

</html>